// sass -w .\Assets\scss\style.scss .\Assets\css\style.css
$primary: #3b5998;
$nav-link-color: #fff;
@import "../../node_modules/bootstrap/scss/bootstrap";
.navbar {
  .nav-link,
  .navbar-brand {
    color: $nav-link-color;
  }
  .nav-logo {
    width: 10%;
  }
  .search-bar {
    border-radius: 25px;
    width: 30rem;
    color: $primary;
  }
}

#hero {
  height: 800px;
  background-color: $primary;
  background-image: url("../image/blog-yale-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#hero .d-flex {
  min-height: 100vh;
}
